<div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-primary m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">{{dialogTitle}}</span>
                <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                            <mat-icon>close</mat-icon>
                        </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div mat-dialog-content class="p-24 m-0">
            <form [formGroup]="tipoDanioForm">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field fxFlex="100" appearance="fill">
                        <mat-label>Descripción</mat-label>
                        <input matInput placeholder="Descripción" formControlName="descripcion" required>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
            <button *ngIf="action !=='edit'" mat-raised-button (click)="matDialogRef.close(['new',tipoDanioForm])" class="save-button mat-primary" [disabled]="tipoDanioForm.invalid" aria-label="SAVE">
                GUARDAR
            </button>
            <button *ngIf="action ==='edit'" mat-raised-button (click)="matDialogRef.close(['save',tipoDanioForm])" class="save-button mat-primary" [disabled]="tipoDanioForm.invalid" aria-label="SAVE">
                GUARDAR
            </button>
            <button *ngIf="action ==='edit'" mat-icon-button (click)="matDialogRef.close(['delete',tipoDanioForm])" aria-label="Delete" matTooltip="Delete">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>