.mat-flat-button {
    border-radius: 10px !important;
}
.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-weight: 700 !important;
    font-size: 11px !important;
}