.mat-sidenav {
    width: 280px;
    background-color: #2d323e!important;
    z-index: 1000;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .35);

    .navbar-top {
        padding: 12px 0;
        justify-content: center;
        background-color: #1d2129;
        height: 80px;
        text-align: center;
    }
    
    .logo {
        text-align: center;
    }
    
    .titulo {
        color: #FFFF;
        text-align: center;
    }
}

.mat-sidenav-container {
    background-color: #f5f5f5 !important;
    height: 100vh;
  
    .mat-sidenav-content {
        display: flex;
        flex-direction: column;
    }
}

.mat-nav-list {
    padding-top: 0;
}