<mat-sidenav-container class="container">
    <mat-sidenav #appDrawer mode="side" opened="true">
        <div class="navbar-top mat-indigo-700-bg">
            <div class="logo">
                <img style="height: 30px;" class="mt-10" src="assets/images/logoHDI-2.png">
            </div>
            <span class="titulo">Check App - Inspecciones 1.0.0</span>
        </div>
        <mat-nav-list>
            <app-menu-item *ngFor="let item of menuItems" [item]="item"></app-menu-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
