<div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row"           fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
        <div class="logo" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon s-48 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" [svgIcon]="icon"></mat-icon>
            <span class="h1 logo-text" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{titulo}}
            </span>
        </div>
    </div>
</div>