@import '../../../theme.scss';

.header {
    height: 120px;
    min-height: 120px;
    color: #FFF;
    background-color: mat-color($checkapp-web-primary, 500);
    padding: 24px !important;

    .logo-text {
        color: #FFF;
    }
}