<app-header icon="hdi_reporte" titulo="Depurar Automóviles"></app-header>
<div class="center p-24 pb-56 pr-sm-92 ps ps--active-y">
    <div fxLayout="row wrap">
        <div fxFlex='20'>
            <mat-form-field appearance="fill">
                <mat-label>Fecha Hasta</mat-label>
                <input matInput [matDatepicker]="hasta" placeholder="Hasta" (dateChange)="onDateHasta($event)">
                <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
                <mat-datepicker #hasta (selectedChanged)="onDateHasta($event)"></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex='60'>
            <div class="mt-20 button-row">
                <button mat-raised-button class="mat-primary" (click)="depurar()">Depurar</button>
            </div>
        </div>
    </div>
</div>