<div id='login' fxLayou="row" fxLayoutAlign="start">
    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src='assets/images/logoHDI.png'>
        </div>
        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bienvenido a HDI CheckApp!
        </div>
        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">

        </div>
    </div>
    <div id="login-form-wrapper" [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">
        <div id="login-form">
            <div class="title">INGRESE A SU CUENTA</div>
            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                <mat-form-field>
                    <input matInput placeholder="Usuario" formControlName="username">
                    <mat-error>
                        Usuario es obligatorio
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Contraseña" formControlName="password">
                    <mat-error>
                        Contraseña es obligatorio
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" class="submit-button" [class.spinner]="loading" aria-label="LOGIN" [disabled]="loginForm.invalid || loading">
                    INICIAR SESION
                </button>
            </form>
        </div>
    </div>
</div>