:host {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    #login {
        width: 100%;
        background-color: #006729;
        overflow: hidden;
        #login-intro {
            padding: 128px;
            color: white;
            .logo {
                width: 128px;
                margin-bottom: 32px;
            }
            img {
                width: 250px;
            }
            .title {
                font-size: 42px;
                font-weight: 300;
                line-height: 1;
            }
            .description {
                padding-top: 16px;
                font-size: 14px;
                max-width: 600px;
                color: rgba(255, 255, 255, 0.54);
            }
        }
        #login-form-wrapper {
            width: 400px;
            min-width: 400px;
            max-width: 400px;
            background: #FFFFFF;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            #login-form {
                padding: 128px 48px 48px 48px;
                .title {
                    font-size: 21px;
                }
                form {
                    width: 100%;
                    padding-top: 32px;
                    mat-form-field {
                        width: 100%;
                    }
                    .submit-button {
                        width: 100%;
                        margin: 16px auto;
                        display: block;
                    }
                }
            }
        }
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 30px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }