<div class="center p-24 pb-56">
    <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Filtrar</mat-label>
        <input matInput placeholder="Filtrar" (keyup)="applyFilter($event.target.value)">
    </mat-form-field>

    <mat-table [dataSource]="inspecciones" matSort [@animateStagger]="{value:'50'}" class="mat-elevation-z4">

        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let inspeccion">
                <p class="text-truncate">{{inspeccion.Fecha | date: 'dd/MM/yyyy'}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fecha servidor">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Servidor</mat-header-cell>
          <mat-cell *matCellDef="let inspeccion">
              <p class="text-truncate">{{inspeccion.FechaServer | date: 'dd/MM/yyyy'}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let inspeccion">
                <p class="text-truncate">{{inspeccion.Nombre}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="patente">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Patente</mat-header-cell>
            <mat-cell *matCellDef="let inspeccion">
                <p class="text-truncate">{{inspeccion.patente}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="anio">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Año</mat-header-cell>
            <mat-cell *matCellDef="let inspeccion">
                <p class="text-truncate">{{inspeccion.anio}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
            <mat-cell *matCellDef="let inspeccion">
                <mat-form-field>
                    <mat-label>selecciona estado</mat-label>
                    <mat-select [(value)]="inspeccion.estado" (valueChange)="handlerSelect($event, inspeccion.id)">
                      <mat-option>None</mat-option>
                      <mat-option value="EN PROCESO">EN PROCESO</mat-option>
                      <mat-option value="EMITIDA">EMITIDA</mat-option>
                    </mat-select>
                  </mat-form-field>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let inspeccion" >
                    <button mat-raised-button color="primary" (click)="verDetalle(inspeccion.id)">Ver Detalle</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let inspeccion; columns: displayColumns;" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons class="mat-elevation-z4"></mat-paginator>
</div>
