@import "../../../theme.scss";

:host {
    display: flex;
    flex-direction: column;
    outline: none;
    width: 100%;

    .menu-item {

        color: #FFF;

        .menu-item-content {
            padding: 0 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
            position: relative;
            height: inherit;
            .routeIcon {
                margin-right: 40px;
            }

        }
      
        
    }

    .menu-item.active {
        background-color: #282c37;
    }
    &:hover,
    &:focus {
        >.menu-item:not(.expanded) {
            background-color: #282c37 !important;
        }
    }
}