<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
    [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
    class="mat-list-item menu-item">
    <div fxFlex class="menu-item-content">
        <mat-icon class="routeIcon" [svgIcon]="item.iconName"></mat-icon>
        {{item.displayName}}
        <span fxFlex *ngIf="item.children && item.children.length">
            <span fxFlex></span>
            <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
                expand_more
            </mat-icon>
        </span>
    </div>
</a>
<div *ngIf="expanded">
    <app-menu-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
    </app-menu-item>
</div>