<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-primary m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0">
        <form [formGroup]="danioForm">
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex="100" appearance="fill">
                    <mat-label>Clave</mat-label>
                    <input matInput placeholder="Clave" formControlName="clave" required>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex="100" appearance="fill">
                    <mat-label>Autoparte</mat-label>
                    <mat-select placeholder="Autoparte" formControlName="autoparte">
                        <mat-option *ngFor="let autoparte of autopartes" [value]="autoparte.id">
                            {{autoparte.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex="100" appearance="fill">
                    <mat-label>Daño</mat-label>
                    <mat-select placeholder="Daño" formControlName="danio">
                        <mat-option *ngFor="let danio of tiposDanio" [value]="danio.id">
                            {{danio.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex="100" appearance="fill">
                    <mat-label>Estado</mat-label>
                    <mat-select placeholder="Estado" formControlName="estado">
                        <mat-option *ngFor="let estado of estados" [value]="estado">
                            {{estado}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex="100" appearance="fill">
                    <mat-label>ID Daño descripcionGaus</mat-label>
                    <input name="codigoGaus" formControlName="codigoGaus" placeholder="ID Daño Gaus" matInput required>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex="100" appearance="fill">
                    <mat-label>Campo Tecnored</mat-label>
                    <input name="descripcionGaus" formControlName="descripcionGaus" placeholder="Campo Tecnored" matInput required>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex="100" appearance="fill">
                    <mat-label>Valor</mat-label>
                    <input type="number" name="valor" formControlName="valor" placeholder="Valor" matInput required>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <button *ngIf="action !=='edit'" mat-raised-button (click)="matDialogRef.close(['new',danioForm])" class="save-button mat-primary" [disabled]="danioForm.invalid" aria-label="SAVE">
            GUARDAR
        </button>
        <button *ngIf="action ==='edit'" mat-raised-button (click)="matDialogRef.close(['save',danioForm])" class="save-button mat-primary" [disabled]="danioForm.invalid" aria-label="SAVE">
            GUARDAR
        </button>
        <button *ngIf="action ==='edit'" mat-icon-button (click)="matDialogRef.close(['delete',danioForm])" aria-label="Delete" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>