<div class="center p-24 pb-56">
    <div flex fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <mat-form-field fxFlex="calc(85% - 20px)" appearance="fill">
            <mat-label>Filtrar</mat-label>
            <mat-icon matSuffix class="secondary-text">search</mat-icon>
            <input matInput placeholder="Filtrar" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <button mat-raised-button color="primary" fxFlex="calc(15% - 20px)" (click)="createCobertura()">
            <mat-icon matSuffix class="secondary-text">add_circle_outline</mat-icon>
            Agregar
        </button>
    </div>
    <mat-table #table [dataSource]="coberturas" matSort [@animateStagger]="{value:'50'}" class="mat-elevation-z4">
        <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</mat-header-cell>
            <mat-cell *matCellDef="let cobertura">
                <p class="text-truncate">{{cobertura.codigo}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
            <mat-cell *matCellDef="let cobertura">
                <p class="text-truncate">{{cobertura.descripcion}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="valor">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Valor Mínimo</mat-header-cell>
            <mat-cell *matCellDef="let cobertura">
                <p class="text-truncate">{{cobertura.valor}}</p>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let cobertura; columns: displayColumns;" (click)="editCobertura(cobertura)" class="cobertura" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
</div>