<div class="center p-24 pb-56">
    <div flex fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <mat-form-field fxFlex="calc(85% - 20px)" appearance="fill">
            <mat-label>Filtrar</mat-label>
            <mat-icon matSuffix class="secondary-text">search</mat-icon>
            <input matInput placeholder="Filtrar" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <button mat-raised-button color="primary" fxFlex="calc(15% - 20px)" (click)="createDanio()">
            <mat-icon matSuffix class="secondary-text">add_circle_outline</mat-icon>
            Agregar
        </button>
    </div>
    <mat-table #table [dataSource]="danios" matSort [@animateStagger]="{value:'50'}" class="mat-elevation-z4">
        <ng-container matColumnDef="autoparte">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Autoparte</mat-header-cell>
            <mat-cell *matCellDef="let danio">
                <p class="text-truncate">{{danio.autoparte.descripcion}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="danio">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Daño</mat-header-cell>
            <mat-cell *matCellDef="let danio">
                <p class="text-truncate">{{danio.danio.descripcion}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
            <mat-cell *matCellDef="let danio">
                <p class="text-truncate">{{danio.estado}}</p>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let danio; columns: displayColumns;" (click)="editDanio(danio)" class="danio" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons class="mat-elevation-z4"></mat-paginator>
</div>
