<mat-tab-group>
    <mat-tab label="DATOS">
        <div class="center p-24 pb-56">
            <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="20px grid" class="mt-20 mb-20">
                <div fxFlex="100">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Datos Personales</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px grid">
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="nombre" value="{{inspeccion.Nombre}}">
                                </mat-form-field>
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Telefono</mat-label>
                                    <input matInput placeholder="telefono" value="{{inspeccion.Telefono}}">
                                </mat-form-field>  
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px grid">
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>E-mail</mat-label>
                                    <input matInput placeholder="e-mail" value="{{inspeccion.Email}}">
                                </mat-form-field>
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Términos y condiciones</mat-label>
                                    <input matInput placeholder="terminos y condiciones" value="ACEPTADOS">
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div fxFlex="100">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Datos Embarcación</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px grid">
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Tipo</mat-label>
                                    <input matInput placeholder="tipo" value="{{inspeccion.TipoEmbarcacion}}">
                                </mat-form-field>  
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Año</mat-label>
                                    <input matInput placeholder="anio" value="{{inspeccion.Anio}}">
                                </mat-form-field>  
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px grid">
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Modelo</mat-label>
                                    <input matInput placeholder="modelo" value="{{inspeccion.Modelo}}">
                                </mat-form-field>  
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Astillero</mat-label>
                                    <input matInput placeholder="astillero" value="{{inspeccion.Astillero}}">
                                </mat-form-field>  
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px grid">
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Suma Valuada / Asegurada</mat-label>
                                    <input matInput placeholder="sumaValuada" value="{{inspeccion.SumaValuada}}">
                                </mat-form-field>  
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Motor Modelo</mat-label>
                                    <input matInput placeholder="motorModelo" value="{{inspeccion.MotorModelo}}">
                                </mat-form-field>  
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px grid">
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Motor Capacidad</mat-label>
                                    <input matInput placeholder="motorCapacidad" value="{{inspeccion.MotorCapacidad}}">
                                </mat-form-field>  
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Motor Año</mat-label>
                                    <input matInput placeholder="motorAnio" value="{{inspeccion.MotorAnio}}">
                                </mat-form-field>  
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px grid">
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Nombre Embarcación</mat-label>
                                    <input matInput placeholder="nombreEmbarcacion" value="{{inspeccion.NombreEmbarcacion}}">
                                </mat-form-field>  
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Rey o Jurisdiccion</mat-label>
                                    <input matInput placeholder="reyJurisdiccion" value="{{inspeccion.ReyJurisdiccion}}">
                                </mat-form-field>  
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px grid">
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Moneda</mat-label>
                                    <input matInput placeholder="Moneda" value="{{inspeccion.Moneda}}">
                                </mat-form-field>  
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="INFORMACIÓN ADICIONAL">
        <div class="center p-24 pb-56">
            <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="20px grid" class="mt-20 mb-20">
                <div fxFlex="50">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Instrumental</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-list>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        CUENTA HORAS  <mat-slide-toggle color="primary" [checked]="contieneInstrumento('CUENTA HORAS')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        VOLTIMETRO AMPERIMETRO  <mat-slide-toggle color="primary" [checked]="contieneInstrumento('VOLTIMETRO AMPERIMETRO')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        INDICADORES DE TEMPERATURA  <mat-slide-toggle color="primary" [checked]="contieneInstrumento('INDICADORES DE TEMPERATURA')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        PRESIÓN DE ACEITE <mat-slide-toggle color="primary" [checked]="contieneInstrumento('PRESIÓN DE ACEITE')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        COMBUSTIBLE  <mat-slide-toggle color="primary" [checked]="contieneInstrumento('COMBUSTIBLE')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        OTROS <mat-slide-toggle color="primary" [checked]="contieneInstrumento('OTROS')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                            </mat-list>
                            
                        </mat-card-content>
                    </mat-card>
                </div>
                <div fxFlex="50">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Elementos</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-list>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        ECOSONDA  <mat-slide-toggle color="primary" [checked]="contieneElemento('ECOSONDA')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        COMPÁS  <mat-slide-toggle color="primary" [checked]="contieneElemento('COMPÁS')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        RADIO VHF  <mat-slide-toggle color="primary" [checked]="contieneElemento('RADIO VHF')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        PRESIÓN DE ACEITE  <mat-slide-toggle color="primary" [checked]="contieneElemento('PRESIÓN DE ACEITE')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        PILOTO AUTOMÁTICO  <mat-slide-toggle color="primary" [checked]="contieneElemento('PILOTO AUTOMÁTICO')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        GPS  <mat-slide-toggle color="primary" [checked]="contieneElemento('GPS')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        ANEMÓMETRO <mat-slide-toggle color="primary" [checked]="contieneElemento('ANEMÓMETRO')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        HIDRÓMETRO <mat-slide-toggle color="primary" [checked]="contieneElemento('HIDRÓMETRO')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        TERMÓMETRO  <mat-slide-toggle color="primary" [checked]="contieneElemento('TERMÓMETRO')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        ESTACIÓN METEROLÓGICA  <mat-slide-toggle color="primary" [checked]="contieneElemento('ESTACIÓN METEROLÓGICA')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        PLOTTER  <mat-slide-toggle color="primary" [checked]="contieneElemento('PLOTTER')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        ANTENA DE RADIO  <mat-slide-toggle color="primary" [checked]="contieneElemento('ANTENA DE RADIO')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <div fxFlex fxLayoutAlign="space-between center">
                                        OTROS  <mat-slide-toggle color="primary" [checked]="contieneElemento('OTROS')"></mat-slide-toggle>
                                    </div>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="FOTOS">
        <div class="center p-24 pb-56">
            <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="20px grid" class="mt-20 mb-20">
                <div fxFlex="33.33" *ngFor="let foto of inspeccion.Fotos">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>{{foto.tipo}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <img [src]="foto.imagen | imagen" style="width: 100%">
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="EMBARCACION AUXILIAR">
        <div class="center p-24 pb-56">
            <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="20px grid" class="mt-20 mb-20">
                <ng-container *ngIf="inspeccion.Auxiliar.length > 0">
                    <div fxFlex="33.33" *ngFor="let auxiliar of inspeccion.Auxiliar">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title>{{auxiliar.tipo}}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <img [src]="auxiliar.imagen | imagen" style="width: 100%">
                            </mat-card-content>
                        </mat-card>
                    </div>
                </ng-container>
                <ng-container *ngIf="inspeccion.Auxiliar.length == 0">
                    <h1 class="m-0">No hay datos cargados.</h1>
                </ng-container>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="DOCUMENTACION">
        <div class="center p-24 pb-56">
            <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="20px grid" class="mt-20 mb-20">
                <ng-container *ngIf="inspeccion.Documentacion.length > 0">
                    <div fxFlex="33.33" *ngFor="let documentacion of inspeccion.Documentacion">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title>{{documentacion.tipo}}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <img [src]="documentacion.imagen | imagen" style="width: 100%">
                            </mat-card-content>
                        </mat-card>
                    </div>
                </ng-container>
                <ng-container *ngIf="inspeccion.Documentacion.length == 0">
                    <h1 class="m-0">No hay datos cargados.</h1>
                </ng-container>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="DAÑOS">
        <div class="center p-24 pb-56">
            <mat-card class="example-card">   
                <mat-card-content>
                    <mat-list>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div fxFlex fxLayoutAlign="space-between center">
                                <span>Motor - Funciona ?</span><span>{{inspeccion.Danios.Motor}}</span>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div fxFlex fxLayoutAlign="space-between center">
                                <span>Motor Auxiliar - Funciona ?</span><span>{{inspeccion.Danios.MotorAuxiliar}}</span>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div fxFlex fxLayoutAlign="space-between center">
                                <span>Presenta Daño Estructural ?</span><span>{{inspeccion.Danios.PresentaDanioEstructural}}</span>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div fxFlex fxLayoutAlign="space-between center">
                                <span>Presentan Daños las Velas ?</span><span>{{inspeccion.Danios.PresentaDanioVelas}}</span>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>