<div class="center p-24 pb-56">
    <div flex fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <mat-form-field fxFlex="calc(85% - 20px)" appearance="fill">
            <mat-label>Filtrar</mat-label>
            <mat-icon matSuffix class="secondary-text">search</mat-icon>
            <input matInput placeholder="Filtrar" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <button mat-raised-button color="primary" fxFlex="calc(15% - 20px)" (click)="createTipoDanio()">
            <mat-icon matSuffix class="secondary-text">add_circle_outline</mat-icon>
            Agregar
        </button>
    </div>
    <mat-table #table [dataSource]="tiposDanio" [@animateStagger]="{value:'50'}" class="mat-elevation-z4">
        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</mat-header-cell>
            <mat-cell *matCellDef="let tipoDanio">
                <p class="text-truncate">{{tipoDanio.descripcion}}</p>
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>

        <mat-row *matRowDef="let tipoDanio; columns: displayColumns;" (click)="editTipoDanio(tipoDanio)" class="danio" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
</div>

