<mat-tab-group>
    <mat-tab label="DATOS">
        <div class="center p-24 pb-56">
            <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="20px grid" class="mt-20 mb-20">
                <div fxFlex="100">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Datos Personales</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px grid">
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="nombre" value="{{inspeccion.Nombre}}">
                                </mat-form-field>
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Telefono</mat-label>
                                    <input matInput placeholder="telefono" value="{{inspeccion.Telefono}}">
                                </mat-form-field>  
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px grid">
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>E-mail</mat-label>
                                    <input matInput placeholder="e-mail" value="{{inspeccion.Email}}">
                                </mat-form-field>
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Términos y condiciones</mat-label>
                                    <input matInput placeholder="terminos y condiciones" value="ACEPTADOS">
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div fxFlex="100">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Datos del Vehículo</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px grid">
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Tipo</mat-label>
                                    <input matInput placeholder="tipo" value="{{inspeccion.TipoAutomovil}}">
                                </mat-form-field>  
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Patente</mat-label>
                                    <input matInput placeholder="patente" value="{{inspeccion.Patente}}">
                                </mat-form-field>  
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px grid">
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Año</mat-label>
                                    <input matInput placeholder="anio" value="{{inspeccion.Anio}}">
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="FOTOS">
        <div class="center p-24 pb-56">
            <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="20px grid" class="mt-20 mb-20">
                <div fxFlex="33.33" *ngFor="let foto of inspeccion.Fotos">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>{{foto.Tipo}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <img [src]="foto.Imagen | imagen" style="width: 100%">
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="GNC">
        <div class="center p-24 pb-56">
            <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="20px grid"class="mt-20 mb-20">
                <div fxFlex="33.33" *ngFor="let foto of inspeccion.Gnc">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>{{foto.tipo}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <img [src]="foto.Imagen | imagen" style="width: 100%">
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="DAÑOS">
        <div class="center p-24 pb-56">
            <mat-table [dataSource]="inspeccion.Danios" [@animateStagger]="{value:'50'}" class="mat-elevation-z4">
                <ng-container matColumnDef="autoparte">
                    <mat-header-cell *matHeaderCellDef>Autoparte</mat-header-cell>
                    <mat-cell *matCellDef="let danio">
                        <p class="text-truncate">{{danio.autoparte.descripcion}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="danio">
                    <mat-header-cell *matHeaderCellDef>Daño</mat-header-cell>
                    <mat-cell *matCellDef="let danio">
                        <p class="text-truncate">{{danio.danio.descripcion}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let danio">
                        <p class="text-truncate">{{danio.estado}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayColumnsDanios"></mat-header-row>
                <mat-row *matRowDef="let danio; columns: displayColumnsDanios;" class="danio" [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>
        </div>
    </mat-tab>
</mat-tab-group>