@import "./theme.scss";

@import './scss/core.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
    text-decoration-color: mat-color($checkapp-web-primary);
    color: mat-color($checkapp-web-primary);
    text-decoration: none;
}
.danio-form-dialog {
    width: 400px;
    .mat-dialog-container {
        padding: 0;
        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }
        .toolbar-bottom {
            height: auto;
        }
    }
    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}