@import '~@angular/material/theming';

@include mat-core();

$checkapp-colors: (
    50: #E0EDE5,
    100: #B3D1BF,
    200: #80B394,
    300: #4D9569,
    400: #267E49,
    500: #006729,
    600: #005F24,
    700: #00541F,
    800: #004A19,
    900: #00390F,
    A100: #6FFF84,
    A200: #3CFF59,
    A400: #09FF2D,
    A700: #00EF23,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text
    )
);

$checkapp-web-primary: mat-palette($checkapp-colors);
$checkapp-web-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$checkapp-web-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$checkapp-web-theme: mat-light-theme($checkapp-web-primary, $checkapp-web-accent, $checkapp-web-warn);

@include angular-material-theme($checkapp-web-theme);

// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------

// Angular Material typography
$typography: mat-typography-config(
    $font-family: 'Open Sans, Helvetica Neue, Arial, sans-serif',
    $title: mat-typography-level(20px, 32px, 600),
    $body-2: mat-typography-level(14px, 24px, 600),
    $button: mat-typography-level(14px, 14px, 600),
    $input: mat-typography-level(16px, 1.125, 400)
);

// Setup the typography
@include angular-material-typography($typography);