<h1 matDialogTitle>Advertencia</h1>
<div mat-dialog-content>{{confirmMessage}}</div>
<div mat-dialog-actions class="pt-24">
    <button mat-raised-button class="mat-primary mr-16" (click)="dialogRef.close(true)">Aceptar</button>
    <button mat-button (click)="dialogRef.close(false)">Cancelar</button>
</div>